*,body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;    /* background-color: #e7e7e7; */
}
.main-container
{
  max-width: 1100px;
    margin: 0 auto;
}
.main-container .banner
{
    background: url("images/main-header.png");
    background-size: cover;
    width: 100%;
    height: 570px;
    position: relative;
    padding-top: 34px;
}
.main-container .banner header{
    max-width: 1018px;
     height: 95px;
    margin: 0 auto;
    background-color: #fcfaf7;
    /* background-color: rgba(247, 247, 247, 0.7); */

    padding-right: 30px;
    padding-left: 30px;
    height: 95px;
}
@media (min-width:320px) and (max-width:767px)
{
    .main-container .banner header
    {
         padding-right: 0px;
         padding-left: 0px;
        margin: 0 auto;
        background-color: #fcfaf7;
        /* background-color: rgba(247, 247, 247, 0.7); */
        position: relative;
        top: 0px;
    } 
}
.main-container header .menu
{
    display: grid;
    grid-template-columns: 225px 1fr;
    grid-template-rows: 1fr;
    grid-gap: 139px;
    /* height: 95px; */
    align-items: center;
}
@media (min-width:320px) and (max-width:767px)
{
    .main-container header .menu .logo
    { 
         padding-left: 0px;
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr;
        grid-gap: 45px;
        height: 95px;
         align-items: center;
    }  
}
.main-container  .banner header .menu img{
    /* padding-top: 17px; */
}
@media (min-width:320px) and (max-width:767px)
{
    .main-container  .banner header .menu img{
        padding-top: 0px;
        margin-left: 20px;
    }
}
.main-container .banner header .menu i{
    display: none;
    
}
@media (min-width:320px) and (max-width:767px)
{ 
    .main-container .banner header .menu i{
    display: block;
    color:#bf1e2e;
    font-size: 25px;
    margin-right: 20px;
    justify-self: center;
    }
}
@media (min-width:320px) and (max-width:767px)
{
    .main-container .banner
            {
    background: url("images/main-header.png");
    background-size: cover;
    width: 100%;
    /* height: 570px; */
    position: relative;
        }
}
@media (min-width:320px) and (max-width:767px)
{
    .main-container .banner header .menu ul
    {
        display: none;
    }
}
.main-container .banner header .menu ul li{
    display: inline-block;
    list-style: none;
    text-align: center;
    font-size: 14px;
    margin-right: 38px;
    line-height: 95px;
}
.main-container .banner header  .menu ul li:last-child
{
    margin-right: 0px;
}
.main-container .banner header .menu ul li a{
    text-decoration: none;
    color: black;
}
.main-container .banner header .menu ul li a:hover
{
    color:blue;
}
.main-container .banner header .menu ul li a:active
{
    color: red;
}
.main-container .banner .box
{
    width: 445px;
    height: 237px;
    background:#bf1e2e;
    position: absolute;
    right: 0px;
    bottom: 129px;
    padding-left: 40px;
    padding-top: 30px;
}
@media (min-width:320px) and (max-width:767px)
{
    .main-container .banner .box
{
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: 45px 1fr;
     width: 100%;
    height: 237px;
    align-items: center;
    justify-items: center;
    background:#bf1e2e;
    position: relative;
    right: 0px;
    top: 120px;
   padding-top: 0px;
   padding-left: 0px;
}
}
.main-container .banner .box ul{

    padding-top: 14px;
    color: white;
    /* padding-left: 40px; */
}
@media (min-width:320px) and (max-width:767px)
{
    .main-container .banner .box ul{
        padding-top: 0px;
        color: white;
        padding-left: 4px;
    }
}
.main-container .banner .box p{
    
    /* padding-top: 30px; */
    font-size: 32px;
    color: white;
    /* padding-left: 40px; */
}
@media (min-width:320px) and (max-width:767px)
{
    .main-container .banner .box p{
        padding-top: 28px;
        font-size: 30px;
        color: white;
        padding-left: 0px;
    }
}
@media (min-width:320px) and (max-width:767px)
{
    .main-container .banner .box h4{
        padding-top: 23px;
        font-size: 30px;
        color: white;
    }
}
.main-container .banner .box ul li{
    list-style: none;
    font-size: 16px;
  }
@media (min-width:320px) and (max-width:767px)
{
    .main-container .banner .box ul li
    {
        font-size: 13px;
    }
}
.main-container .banner .box button{
    width: 191px;
  position: absolute;
  /* left: 253px;
  top: 14px; */
  right: 0px;
  bottom: 0px;
  height: 54px;
  font-size: 22px;
  background:#cc2b3b;
  color: white;
  cursor: pointer;
  border: none;
}
@media (min-width:320px) and (max-width:767px)
{
    .main-container .banner .box button{
        width: 191px;
      position: relative;
      left: 0px;
      top: 0px;
      height: 54px;
      font-size: 20px;
      /* background:#bf1e2e; */
      color: white;
      cursor: pointer;
    } 
}
.main-container .banner .box ul li i{
    margin-right: 7px;
    font-size: 23px;
    margin-bottom: 6px;
}
.main-container .middle-container
{
    display: grid;
    grid-template-columns: 740px auto;
    grid-template-rows: 1fr;
    grid-gap: 0px;
    height: 417px;
    background: url("images/main-background.png");
     /* background:rgba(216, 213, 213, 0.8); */
}
@media (min-width:320px) and (max-width:767px)
{
    .main-container .middle-container
    {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr;
        grid-gap: 0px;
        height: auto;
        background: url("images/main-background.png");
        background-size: cover;
         /* background:rgba(216, 213, 213, 0.8); */
    } 
}
.main-container .middle-container .main-content
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 30px;
    background-color: white;
    max-width: 670px;
    position: relative;
    left: 70px;
    top: -30px;
    padding-bottom: 28px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
@media (min-width:320px) and (max-width:767px)
{
    .main-container .middle-container .main-content
    {
        display: grid;
        grid-template-rows: 1fr auto;
        grid-template-columns: 1fr;
        grid-gap: 30px;
        background-color: white;
       /* width: 100%; */
        position: relative;
        left: 0px;
        top: 0px;
      padding: 10px;
    }
}
@media (min-width:320px) and (max-width:767px)
{
    .main-container .middle-container .main-content .content-1
    {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    justify-items: center;
    }
}

.main-container .middle-container .main-content .content-1 img
{
margin-bottom: 18px;
}
@media (min-width:320px) and (max-width:767px)
{
    .main-container .middle-container .main-content .content-1 img
        {
        margin-bottom: 20px;
        width: 100%;
        }
}
.main-container .middle-container .main-content .content-1 h5
{
    margin-bottom: 22px;
    font-size: 22px;
    font-family: Myriad Pro;
    /* text-align: left; */
}
.main-container .middle-container .main-content .content-1 p
{
    margin-bottom: 25px;
}
.main-container .middle-container .main-content .content-1 button
{
    width: 290px;
    height: 54px;
    color: white;
    font-size: 22px;
    background-color:#bf1e2e;
    border: none;
    cursor: pointer;
    text-align: left;
    padding-left: 14px;
}
@media (min-width:320px) and (max-width:767px)
{
    .main-container .middle-container .main-content .content-1 button
    {
        /* width: 100%; */
        height: 54px;
        color: white;
        font-size: 22px;
        background-color: red;
        cursor: pointer;
    } 
}
.main-container .middle-container .main-content .content-1 button i{
    margin-right: 13px;
}
.main-container .middle-container .main-content .content-1 .phone-icons
{
    text-align: left;
    margin-top: 22px;
    font-size: 22px;
    color: #c32c3b;
    /* padding-left: 14px; */
    display: grid;
    grid-template-columns: 38px 63px 153px;
    grid-template-rows: 1fr;
}
.main-container .middle-container .main-content.content-1  i
{
    font-size: 28px;
    color: #7f4249;
   margin-right: 13px;
}
.main-container .middle-container .main-content .content-1 .phone-icons i{
    font-size: 25px;
  color:#939292;
  margin-right: 13px;
}
.main-container .middle-container .main-content .content-2 img
{
    margin-bottom: 30px;
}
@media (min-width:320px) and (max-width:767px)
{
    .main-container .middle-container .main-content .content-2 img
{
    margin-bottom: 30px;
    width: 100%;
}
}
.main-container .middle-container .main-content  .content-2 .camera-icons
{
    color:#bf1e2e;
    text-align: center;
    font-size: 20px;
}
.main-container .middle-container .main-content  .content-2 .camera-icons i
{
     font-size: 23px;
    margin-right: 15px;
    color: #939292;
}
.main-container .middle-container .content-3
{
   padding-top: 35px;
   padding-left: 30px;
   padding-right: 68px;
}
@media (min-width:320px) and (max-width:767px)
{
    .main-container .middle-container .content-3
    {
        width: 100%;
       padding: 20px;
    } 
}
.main-container .middle-container .content-3 .p-1
{
    font-size: 22px;
    color: #222222;
    margin-bottom: 25px;
}
.main-container .middle-container .content-3 .p-2
{
    font-size: 13px;
    color: #666666;
    margin-bottom: 27px;
}
.main-container .middle-container .content-3 .p-3
{
    font-size: 13px;
    color: #666666;
}

footer 
{
    display: grid;
    grid-template-columns: 380px 290px 1fr;
    grid-template-rows: 1fr;
    grid-gap: 41px;
    background: url("images/footer.png");
    background-size: cover;
    height: 210px;
}
@media (min-width:320px) and (max-width:767px)
{
    footer 
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 200px 100px auto;
        grid-gap: 0px;
        height: auto;
    } 
}
footer  .first-paragraph
{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr auto;
    grid-gap: 53px;
    padding-left: 100px;
    /* justify-items: end;  */
}
@media (min-width:320px) and (max-width:767px)
{
    footer .first-paragraph
    {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: auto auto;
        grid-gap: 0px;
        justify-items: center; 
        padding: 5px;
    } 
}
footer  .first-paragraph .first-menu ul h4{
    font-size: 20px;
    text-align: center;
    color: #c6c3c3;
    margin-bottom: 20px;
}
footer  .first-paragraph .first-menu ul {
    font-size: 11px;
    padding-top: 33px;
}
footer .first-paragraph .first-menu ul li {
    display: block;

    padding-top: 5px;
 
}
footer .first-paragraph .first-menu ul li a{
    color:#ffffff;
    text-decoration: none;
}
footer  .first-paragraph .second-menu ul h4{
    font-size: 20px;
    color: #c6c3c3;
    margin-bottom: 20px;
}
footer .first-paragraph .second-menu ul {
    font-size: 11px;
    padding-top: 33px;
}
@media (min-width:320px) and (max-width:767px)
{
    footer .first-paragraph .second-menu ul {
        font-size: 11px;
        padding-top: 37px;
    }
}
footer  .first-paragraph .second-menu ul li {
    display: block;
    padding-top: 5px;
}
footer  .first-paragraph .second-menu ul li a {
    color: #ffffff;
    text-decoration: none;
}
footer .second-paragraph .book-icons{
     padding-left: 15px;
    color: white;
    font-size: 20px;
    padding-top: 33px;
    border-bottom: 1px solid grey;
}
@media (min-width:320px) and (max-width:767px)
{
    footer .second-paragraph 
    {
        text-align: center;
    }
}
@media (min-width:320px) and (max-width:767px)
{
    footer .second-paragraph .book-icons
    {
        padding-top: 0px;
        padding-left: 0px;
    }   
}
footer .second-paragraph .book-icons i{
    margin-right: 15px;
    color:#a5a3a3;
    margin-bottom: 20px;
}
footer .second-paragraph .icons4{
    padding-left: 15px;
    color: white;
    font-size: 20px;
   padding-top: 33px;
}
@media (min-width:320px) and (max-width:767px)
{
    footer .second-paragraph .icons4
    {
        padding-top: 10px;
        padding-left: 20px;
    }
}
footer .second-paragraph .icons4 i{
    margin-right: 15px;
    color:#a5a3a3;
}
footer  .third-paragraph
{
    padding-top: 68px;
   align-self: center;
   padding-left: 34px;
}
@media (min-width:320px) and (max-width:767px)
{
    footer  .third-paragraph
    {
        padding-top: 0px; 
        text-align: center;
        padding-left: 0px;
        margin-bottom: 20px;
    }
   
}
footer  .third-paragraph  p span{
    color: rgb(211, 206, 206);
}
footer  .third-paragraph  p{
    color: white;
    font-size: 11px;
  
}